.form {
  display: flex;
  flex-direction: column;

  .formInput {
    height: 5rem;
    padding: 0 1.6rem;
    border-radius: 0.8rem;
    background-color: var(--white);
    border: 1px solid var(--gray-700);
    margin-bottom: 1.2rem;
    width: 100%;
  }

  .formSpan {
    margin-left: 1rem;
  }
}
